body {
    max-width: 1150px;
    margin: auto;
    background-color: Black;
}
.container {
    height: 100%;
    float: left;
    max-width: 1150px;
}
#topnav {
    background-color: #9956A2;
    overflow: hidden;
    width: 103%;
}
#topnav > ul {
    list-style-type: none;
}
#topnav > ul > li {
    display: inline;
}
#topnav a {
    color: #FFFFFF;
    font-family: sans-serif;
    text-decoration: none;
    font-style: normal;
    padding: 12px 14px;
    font-size: 11pt;
    letter-spacing: 0.4px;
    opacity: 0.99;
}
/* Change the color of links on hover */
#topnav a:hover {
    background-color: #676767;
}
#main {
    /*max-width: 720px;*/
    width: 1150px;
    float: left;
    background-color: black;
    padding: 10px 10px 10px 10px;
    height: 1500px;
    padding-left: 20px;
    border-left: solid #FFE919 1px;
    border-right: solid #FFE919 1px;
    border-bottom: solid #FFE919 1px;
}
#main2 {
    /*max-width: 720px;*/
    width: 1150px;
    float: left;
    background-color: black;
    padding: 10px 10px 10px 10px;
    height: 1870px;
    padding-left: 20px;
    border-left: solid #FFE919 1px;
    border-right: solid #FFE919 1px;
    border-bottom: solid #FFE919 1px;
}
footer {
    padding-top: 5px;
    clear: both;
    background-color: Black;
    text-align: center;
}
footer >p {
    color: #30BCF1;
    font-family: sans-serif;
}
h1 {
    margin-bottom: -2px;
}
h2 {
    color: #FFE919;
    font-weight: 800;
}
h3 {
    color: #FFE919;
    font-weight: 800;
}
a {
    text-decoration: none;
    color: inherit;
}
p {
    color: #30BCF1;
    font-family: "News Gothic", sans-serif;
	font-size: 12pt;
}
